[package]
name = "kherrick/pwgen"
version = "1.0.17"
description = "A password generator compiled as Wasm for use on the CLI, in a custom element, or as a module."
license = "AGPL-3.0"
repository = "https://github.com/kherrick/pwgen"

[[module]]
name = "pwgen"
source = "lib/pwgen.wasm"
abi = "emscripten"

[[command]]
name = "pwgen"
module = "pwgen"
